body {
    font-family: 'Poppins', sans-serif;
    background-color: #a8dadc; 
    margin: 0;
    padding: 20px;
}

h1 {
    color: #1d3557;
    text-align: center;
}

.caja {
    width: 400px;             
    margin: 35px auto;        
    padding: 25px;             
    background-color: #a8dadc; 
    border: 2px solid #457b9d;
    border-radius: 15px;       
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
    font-size: 35px;
    color: #1d3557;
    line-height: 1.5;
}
